body {
  background-image: url(http://subtlepatterns2015.subtlepatterns.netdna-cdn.com/patterns/squares.png) 
  
}

.center {
  margin: auto;
  margin-top: 10px;
}

.thish1{
 margin-top: 20px;
}


.box {
  margin-left: 25%;
  
}

p {
  color: white;
}

.btn_group{
  margin-left: 25%;
  margin-bottom: 20px;
  margin-top: 30px;
}

.grid {
  width: 150px;
  line-height: 0;
  margin: auto;
  box-shadow: 0px 0px 20px white;
}
  
.side{
  display: flex;
}
h1, h2, h3, h4 {
  color: rgb(6, 68, 6);
  margin: auto;
  text-align: center;
  width: 50%;
  margin-top: 10px;
}

h4 {
  margin-top: 0px;
}