body {
  background-image: url("../../game-of-life/src/assets/wall-bricks-220182.jpg")
  
}

.center {
  margin: auto;
  margin-top: 10px;
}

.thish1{
 margin-top: 20px;
}

.thish3{
  margin: auto;
 }

.box {
  margin-left: 25%;
}

p {
  color:black ;
  background-color: white;
  box-shadow: 0px 0px 20px black;
}

.btn_group{
  margin-left: 25%;
  margin-bottom: 20px;
  margin-top: 30px;
}

.grid {
  width: 150px;
  line-height: 0;
  margin: auto;
  box-shadow: 0px 0px 20px black;
}

.card {
  width: 100%;
}

.themed-container .card{
  display: flex;
  flex-direction: column-reverse;
  /* margin: 10px; */
} 
  
.image{
  display: flex;
  justify-content: left;
  width: 20%;
} 

h1{
  color: rgb(6, 68, 6);
  margin: auto;
  text-align: center;
  width: 50%;
  margin-top: 10px;
}

h3{
  color: rgb(6, 68, 6);
   margin-left: 240px;
}

h4 {
  margin-top: 0px;
}